RewriteEngine on
RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?page=$1
RewriteRule ^([a-zA-Z0-9_-]+)/$ index.php?page=$1 

AuthName "test9 Webmaster Page"
AuthType Basic
AuthBasicProvider file
AuthUserFile /opt/lampp/htdocs/cslab/courses/test9/webmaster/.htpasswd
AuthGroupFile /opt/lampp/htdocs/cslab/webmaster/.htgroup
Require valid-user